
img {
	height: 500px; 
	width: 1000px;
	margin-left: 210px;
}

body {		background:#304980;}

.introRope {background:#F7F6F6;
			border:1px solid #F7F6F6;
			border-radius: 15px;
			margin-left:100px;
			margin-right:300px;
			margin-bottom:100px;
			padding-bottom:50px;}
.foot {background:#F7F6F6;
		padding-bottom:20px;}
























header {background:#FFF3D7;
		padding-top:10px;}
header a {	text-decoration:none;
			color:#FFE4A5;}
header h1{ color:#304980; }
.navBar li {list-style-type:none;
		display: inline-block;
		margin-right:2%;
		float:right;
		background:#B29550;
	}
nav 			{width:100%;
				background:#B29550;
				padding:20px;}

